nav .dirlinks {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav .dirlinks li {
  margin-bottom: 8px;
}

nav .dirlinks a {
  color: blue;
  text-decoration: underline;
  font-family: ui-monospace, Menlo, "Cascadia Code", Courier New, monospace;
  font-size: 1rem;
}


#name
{
  font-size: 50px;
  color: #181C14;

}

#p1
{
  font-size: 20px;
}

#Experience
{
  font-size: 25px;
}

#education
{
  font-size: 25px;
}

h4
{
  font-size: 20px;
}

p{
  font-size: 15px;
}

#footer
{
  font-size: 10px;
}