#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.goodmorning {


}

.worktitle{
    padding-top: 50px
}
hr{
    max-width: 500px;
    color: #1793D1;
}

.experience{
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    max-width: 500px;
    margin: auto;
    border-color: black;
    margin-top: 15px;
}
.timeworking{
}

.sincedate{

}

.projects{
    padding-top: 10px;
    padding-bottom: 10px;
    border-style: solid;
    border-width: 1px;
    max-width: 500px;
    margin: auto;
    border-color: black;
    margin-top: 15px;
}

.projecttitle{

    margin-top: 25px; 
}

.techtitle{
    margin-top: 25px; 
}


.socialrow{
  margin-top: 25px;
  display: flex;
  gap: 10px;
  margin: auto;
  max-width: 100px;
  margin-top: 200px;
}

.linkedinimage{
  max-width: 50px;
}

.githubimage{

  max-width: 50px;
}
