#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #D3DAD9;
}

body {

  background: #111111;
}


.worktitle {
  padding-top: 50px
}

hr {
  max-width: 500px;
  color: #333333;
}

h2 {
  font-size: 15px;
}

.experience {
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  max-width: 500px;
  margin: auto;
  border-color: #44444E;
  margin-top: 15px;
  background: #1A1A1A;
}


.sincedate {
  color: #333333;
}

.projects {
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  max-width: 500px;
  margin: auto;
  border-color: #44444E;
  margin-top: 15px;
  background: #1A1A1A;
}

.projecttitle {

  margin-top: 25px;
}

.projectspara {
  padding: 3px;
}

.techtitle {
  margin-top: 25px;
}

.tech {
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  max-width: 500px;
  margin: auto;
  border-color: #44444E;
  margin-top: 15px;
  background: #1A1A1A;
}


.about {
  color: #333333;
}

.educationpara {
  padding-top: 10px;
  padding-bottom: 10px;
  border-style: solid;
  border-width: 1px;
  max-width: 500px;
  margin: auto;
  border-color: #44444E;
  margin-top: 15px;
  background: #1A1A1A;
}


.socialrow {
  margin-top: 25px;
  display: flex;
  gap: 10px;
  margin: auto;
  max-width: 100px;
  margin-top: 200px;
}

.linkedinimage {
  max-width: 50px;
}

.githubimage {

  max-width: 50px;
}
